@import			'compass/css3';

/*
 * parameters
 */
$theme:				'default';
$uxName:			'Nrt';
$resources_url:		'../../../../resources/';
$images:			$resources_url + 'themes/images/';

/*
 * Mixin
 */
@mixin				buttonIcon( $icon: '' ) {
	background-image:url( $images + $theme + '/ux/' + $uxName + '/' + $icon ) !important
}

/*
 * Toolbar
 */
.x-tbar-calendar-today{
	@include	buttonIcon( 'date.png' );
}
.x-item-disabled .x-tbar-calendar-today{
	@include	buttonIcon( 'date.png' );
}
.x-tbar-calendar-prev{
	@include	buttonIcon( 'resultset_previous.png' );
}
.x-item-disabled .x-tbar-calendar-prev{
	@include	buttonIcon( 'resultset_previous.png' );
}
.x-tbar-calendar-next{
	@include	buttonIcon( 'resultset_next.png' );
}
.x-item-disabled .x-tbar-calendar-next{
	@include	buttonIcon( 'resultset_next.png' );
}
.x-tbar-calendar-view-day{
	@include	buttonIcon( 'calendar_view_day.png' );
}
.x-item-disabled .x-tbar-calendar-view-day{
	@include	buttonIcon( 'calendar_view_day.png' );
}
.x-tbar-calendar-view-week{
	@include	buttonIcon( 'calendar_view_week.png' );
}
.x-item-disabled .x-tbar-calendar-view-week{
	@include	buttonIcon( 'calendar_view_week.png' );
}
.x-tbar-calendar-view-month{
	@include	buttonIcon( 'calendar_view_month.png' );
}
.x-item-disabled .x-tbar-calendar-view-month{
	@include	buttonIcon( 'calendar_view_month.png' );
}
.x-tbar-calendar-view-customdays{
	@include	buttonIcon( 'calendar_view_week.png' );
}
.x-item-disabled .x-tbar-calendar-view-customdays{
	@include	buttonIcon( 'calendar_view_week.png' );
}
.x-tbar-calendar-view-todo{
	@include	buttonIcon( 'text_list_bullets.png' );
}
.x-item-disabled .x-tbar-calendar-view-todo{
	@include	buttonIcon( 'text_list_bullets.png' );
}
/*
 * boxlayout
 */
.nrt-cal-bg-tbl {
    height:100%;
    left:0;
    position:absolute;
    table-layout:fixed;
    top:0;
    width:100%;
}
.nrt-cal-week-links .nrt-cal-bg-tbl {
    left: 20px;
}
.nrt-cal-week-links .nrt-cal-evt-tbl,
.nrt-cal-week-links .nrt-cal-hd-days-tbl {
    margin-left: 20px;
}
.nrt-cal-monthview .nrt-week-link-over {
    background: #E0E7EF;
}
.nrt-cal-wk-ct{
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100px;
}
.ext-cal-evt-tbl{
    position:relative;
    table-layout:fixed;
    width:100%;
}
/*
 * dayviewHeader
 */
.nrt-cal-hd-ct{
    height: 100%;
    border-top: 1px solid #99BBE8;
}
.nrt-cal-hd-days-tbl{
    table-layout: fixed;
    width: 100%;
    background-color: #CDDCEF;
    overflow: hidden;
    font-size: 11px;
    line-height: 14px;
    height: 100%;
}
.nrt-cal-gutter{
}
.nrt-cal-hd-days-td{
    padding-bottom: 2px;
}
.nrt-cal-hd-ad-inner{
    position: relative;
    height: 100%;
    margin-top: 3px;
}
/*
 * dayviewBody
 */
.nrt-cal-bg-tbl{
    width: 100%;
    height: 1008px;
    background-color: #fff;
    //margin-top: -1px;
    margin-top: 2px;
    border-bottom: 1px solid #bcf;
    border-right: 1px solid #bcf;
}
.nrt-cal-gutter{
    height: 100%;
    width: 50px;
}
.nrt-cal-bg-rows{
    position: relative;
    margin-left: 1px;
    top: 1px;
}
.nrt-cal-bg-rows-inner{
    position: absolute;
    width: 100%;
    top: -5; /* row line alignment fix */
}
.nrt-cal-bg-row{
    height: 42px;
}
.nrt-cal-bg-row-div{
    border-bottom: 1px dotted #ddd;
    border-top: 1px solid #ddd;
    font-size: 1px;
    height: 20px;
    margin-bottom: 20px;
}
.ext-row-1{
    border-top: 0;
}
.nrt-cal-day-times{
    background-color: #f6f9fc;
    color: #666;
    padding: 1px 0 0 0;
    text-align: right;
    vertical-align: top;
}
.nrt-cal-day-time-inner{
    height: 38px;
    border-bottom: 1px solid #ddd;
    padding: 3px 4px 0 0;
    font-size: 11px;
}
.nrt-cal-day-col{
    border-left: 1px solid #ddd;
    vertical-align: top
}
.nrt-cal-day-col-inner{
    position: relative;
    cursor: default;
}
.nrt-cal-day-col-gutter{
    position: relative;
    margin-right: 15px;
    height: 1008px;
}
