/*
 * parameters
 */
/*
 * Mixin
 */
/*
 * Toolbar
 */
/* line 21, ../../../sass/ux/NRT/calendar.scss */
.x-tbar-calendar-today {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/date.png") !important;
}

/* line 24, ../../../sass/ux/NRT/calendar.scss */
.x-item-disabled .x-tbar-calendar-today {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/date.png") !important;
}

/* line 27, ../../../sass/ux/NRT/calendar.scss */
.x-tbar-calendar-prev {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/resultset_previous.png") !important;
}

/* line 30, ../../../sass/ux/NRT/calendar.scss */
.x-item-disabled .x-tbar-calendar-prev {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/resultset_previous.png") !important;
}

/* line 33, ../../../sass/ux/NRT/calendar.scss */
.x-tbar-calendar-next {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/resultset_next.png") !important;
}

/* line 36, ../../../sass/ux/NRT/calendar.scss */
.x-item-disabled .x-tbar-calendar-next {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/resultset_next.png") !important;
}

/* line 39, ../../../sass/ux/NRT/calendar.scss */
.x-tbar-calendar-view-day {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/calendar_view_day.png") !important;
}

/* line 42, ../../../sass/ux/NRT/calendar.scss */
.x-item-disabled .x-tbar-calendar-view-day {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/calendar_view_day.png") !important;
}

/* line 45, ../../../sass/ux/NRT/calendar.scss */
.x-tbar-calendar-view-week {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/calendar_view_week.png") !important;
}

/* line 48, ../../../sass/ux/NRT/calendar.scss */
.x-item-disabled .x-tbar-calendar-view-week {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/calendar_view_week.png") !important;
}

/* line 51, ../../../sass/ux/NRT/calendar.scss */
.x-tbar-calendar-view-month {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/calendar_view_month.png") !important;
}

/* line 54, ../../../sass/ux/NRT/calendar.scss */
.x-item-disabled .x-tbar-calendar-view-month {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/calendar_view_month.png") !important;
}

/* line 57, ../../../sass/ux/NRT/calendar.scss */
.x-tbar-calendar-view-customdays {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/calendar_view_week.png") !important;
}

/* line 60, ../../../sass/ux/NRT/calendar.scss */
.x-item-disabled .x-tbar-calendar-view-customdays {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/calendar_view_week.png") !important;
}

/* line 63, ../../../sass/ux/NRT/calendar.scss */
.x-tbar-calendar-view-todo {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/text_list_bullets.png") !important;
}

/* line 66, ../../../sass/ux/NRT/calendar.scss */
.x-item-disabled .x-tbar-calendar-view-todo {
  background-image: url("../../../../resources/themes/images/default/ux/NRT/text_list_bullets.png") !important;
}

/*
 * dayview
 */
/* line 72, ../../../sass/ux/NRT/calendar.scss */
.nrt-cal-bg-tbl {
  width: 100%;
  height: 1008px;
  background-color: #fff;
  margin-top: 1px;
  border-bottom: 1px solid #bcf;
  border-right: 1px solid #bcf;
}

/* line 81, ../../../sass/ux/NRT/calendar.scss */
.nrt-cal-gutter {
  height: 100%;
  width: 50px;
}

/* line 85, ../../../sass/ux/NRT/calendar.scss */
.nrt-cal-bg-rows {
  position: relative;
  margin-left: 1px;
  top: 1px;
}

/* line 90, ../../../sass/ux/NRT/calendar.scss */
.nrt-cal-bg-rows-inner {
  position: absolute;
  width: 100%;
  top: -5;
  /* row line alignment fix */
}

/* line 95, ../../../sass/ux/NRT/calendar.scss */
.nrt-cal-bg-row {
  height: 42px;
}

/* line 98, ../../../sass/ux/NRT/calendar.scss */
.nrt-cal-bg-row-div {
  border-bottom: 1px dotted #ddd;
  border-top: 1px solid #ddd;
  font-size: 1px;
  height: 20px;
  margin-bottom: 20px;
}

/* line 105, ../../../sass/ux/NRT/calendar.scss */
.ext-row-1 {
  border-top: 0;
}

/* line 108, ../../../sass/ux/NRT/calendar.scss */
.nrt-cal-day-times {
  background-color: #f6f9fc;
  color: #666;
  padding: 1px 0 0 0;
  text-align: right;
  vertical-align: top;
}

/* line 115, ../../../sass/ux/NRT/calendar.scss */
.nrt-cal-day-time-inner {
  height: 38px;
  border-bottom: 1px solid #ddd;
  padding: 3px 4px 0 0;
  font-size: 11px;
}

/* line 121, ../../../sass/ux/NRT/calendar.scss */
.nrt-cal-day-col {
  border-left: 1px solid #ddd;
  vertical-align: top;
}

/* line 125, ../../../sass/ux/NRT/calendar.scss */
.nrt-cal-day-col-inner {
  position: relative;
  cursor: default;
}

/* line 129, ../../../sass/ux/NRT/calendar.scss */
.nrt-cal-day-col-gutter {
  position: relative;
  margin-right: 15px;
  height: 1008px;
}
